@import "variable.scss";

.header {
    @include shadow-1;
    padding:1rem 0;

    nav {
        padding:0 2rem;
        display: flex;
        align-items:center;
        justify-content:space-between;

        .brand {
            img {
                height:4rem;
                width: auto;
            }
        }

        ul {
            list-style:none;
            a {
                display:block;
                padding:.5rem 1rem;
                font-size:1.8rem;
                text-decoration:none;
                color:black;
                @include transition;
                &:hover {
                    color:#0d6efd;
                    text-decoration:underline;
                }
            }
        }
    }
}
