@import "variable.scss";

.header {
    @include shadow-1;
    padding:10px 0;

    nav {
        padding:0 20px;
        display: flex;
        align-items:center;
        justify-content:space-between;

        .brand {
            img {
                height:40px;
                width: auto;
            }
        }

        ul {
            list-style:none;
            a {
                display:block;
                padding:.50px 10px;
                font-size:18px;
                text-decoration:none;
                color:black;
                @include transition;
                &:hover {
                    color:#0d6efd;
                    text-decoration:underline;
                }
            }
        }
    }
}
