@import "variable.scss";

.sidebar {
    // border-right:1px solid gray;
    // position:absolute;
    // top:0;
    // bottom:0;
    // width:$sidebar-width;
    z-index:9999;
    background:white;

    ul {
        list-style:none;
        li {
            padding-left:2.5em;
            margin-bottom: 0.5em;
            a {
                font-size:1.8rem;
                text-decoration:none;
                color:black;
            }

            .item {
                padding:.5rem;
                display:flex;
                align-items:center;
                cursor:pointer;
                &:hover {
                    background: gray;
                }
            }
        }
    }
    // 隐藏用
    li > ul{
        display:none;
    }
    li.active > ul{
        display:unset;
    }

    li.active > a.item {
        span.close {
            display: none;
        }
        span.open {
            display: unset;
        }
    }
    li > a.item {
        span.close {
            display: unset;
        }
        span.open {
            display: none;
        }
    }
}

.icon.document {
    padding-left:2.5em;
    margin-bottom: 0.5em;
    &::before {
        content:'';
        position: absolute;
        left: 0;
        top: 6px;
        width: 1.5em;
        height: 1.5em;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z' /%3E%3C/svg%3E");
    }
}

.icon {
    svg {
        width:2rem;
    }
    .open {
        display:none;
    }
    .close {
        display:inline-block;
    }
}
.icon.active {
    .open {
        display:inline-block;
    }
    .close {
        display:none;
    }
}


.main {
}
