<li>
    <a class="item <%= ul.length == 0 ? 'document' : ''%>" href="#<%=link || ''%>">
        <span class="icon">
            <% if (ul.length == 0 ) {%>
                <%- include("icon/document.svg") %>
            <% } else {%>
                <span class="open">
                    <%- include("icon/folder-minus.svg") %>
                </span>
                <span class="close">
                    <%- include("icon/folder-plus.svg") %>
                </span>
            <% }%>
        </span>
        <%= title%>
    </a>
    <%- ul%>
</li>
