<li>
    <% if (ul.length === 0) { %>
    <a class="item document" href="<%= link %>">
    <% } else { %>
    <button class="item directory" type="button" aria-expanded="false" data-directory="<%= directoryPath %>">
    <% } %>
        <span class="icon">
            <% if (ul.length == 0 ) {%>
                <%- include("icon/document.svg") %>
            <% } else {%>
                <span class="open">
                    <%- include("icon/folder-minus.svg") %>
                </span>
                <span class="close">
                    <%- include("icon/folder-plus.svg") %>
                </span>
            <% }%>
        </span>
        <%= title%>
    <% if (ul.length === 0) { %>
    </a>
    <% } else { %>
    </button>
    <% } %>
    <%- ul%>
</li>
