//显示页面的相关信息

.info-header {
    margin:0 16px;
}

.title-bar { 
    h1 {
        font-size:32px;
    }
    text-align:center;
}

.badges {
    display:flex;
    justify-content:center;
    gap:8px;
}
